body {
   padding-top: 51px;
   height: 100vh;
   overflow-x: hidden;
}
.sub-header {
   padding-bottom: 10px;
   border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
   border: 0;
}
.sidebar {
   position: fixed;
   top: 51px;
   bottom: 0;
   left: 0;
   z-index: 1000;
   display: block;
   padding: 20px;
   overflow-x: hidden;
   overflow-y: auto;
   border-right: 1px solid #eee;
}
.nav-sidebar {
   margin-right: -21px;
   margin-bottom: 20px;
   margin-left: -20px;
}
.nav-sidebar > li > a {
   padding-right: 20px;
   padding-left: 20px;
   cursor: pointer;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
   color: #fff;
   background-color: #337ab7;
}
.main {
   padding: 20px;
}
.main .page-header {
   margin-top: 0;
}
.row-number {
   color: #aaa;
}
.input-group > .input-group-btn:last-child > .selectpicker {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.input-group > .input-group-btn:first-child > .selectpicker {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
am-multiselect .dropdown-menu {
   padding-left: 5px;
   padding-right: 5px;
}
am-multiselect .dropdown-menu > li > a {
   padding: 3px 10px;
   cursor: pointer;
}
am-multiselect .dropdown-menu > li.selected {
   background-color: #ADD8E6;
}
.voffset-1 {
   margin-top: 5px;
}
.voffset-2 {
   margin-top: 10px;
}
.voffset-3 {
   margin-top: 15px;
}
.voffset-4 {
   margin-top: 30px;
}
.voffset-5 {
   margin-top: 40px;
}
.voffset-6 {
   margin-top: 60px;
}
.voffset-7 {
   margin-top: 80px;
}
.voffset-8 {
   margin-top: 100px;
}
.voffset-9 {
   margin-top: 150px;
}

/* Food profile modal */

#food-profile-modal > .modal-body {
   padding: 10px;
}
#food-components-table {
   width: 100%;
   font-size: 12px;
}
#food-profile-modal > .food-component-value {
   text-align: right;
}
