* {
   padding: 0;
   margin: 0;
}
body {
   padding-top: 40px;
   padding-bottom: 40px;
}
pre.pretty-json {
   background: none;
   border: none;
}
span.string {
   color: green
}
span.number {
   color: #ff8c00
}
span.boolean {
   color: #00f
}
span.null {
   color: #ff00ff
}
span.key {
   color: #666;
}
span.sep {
   color: #000
}
table td {
   border: none !important;
   border-bottom: 1px solid #eee !important;
}
.form-group, .form-horizontal .form-group {
   margin: 0;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}
