body {
   padding-top: 40px;
   padding-bottom: 40px;
}
pre.pretty-json {
   background: none;
   border: none;
}
pre.pretty-json span.string {
   color: green
}
pre.pretty-json span.number {
   color: #ff8c00
}
pre.pretty-json span.boolean {
   color: #00f
}
pre.pretty-json span.null {
   color: #ff00ff
}
pre.pretty-json span.key {
   color: #666;
}
pre.pretty-json span.sep {
   color: #000
}
