<div ng-controller="graphs">

   <div class="row">
      <div class="col-md-12">
         <div class="panel panel-default">
            <form class="panel-body form-horizontal">

               <h4>Tables</h4>

               <div class="form-group form-inline">
                  <div ng-repeat="i in range(pathLength) track by $index">
                     <select ng-model="selection[i]" class="form-control" ng-change="selectNode(i, selection[i])">
                        <option ng-repeat="node in getSteps(i - 1) track by $index" value="{{node}}">{{node}}</option>
                     </select>
                     <button ng-if="getSteps(i).length != 0 && i == pathLength - 1" type="button" class="btn btn-primary" ng-click="addNode()">+</button>
                     <button ng-if="i == pathLength - 1 && i > 0" type="button" class="btn btn-danger" ng-click="removeNode()">-</button>
                  </div>
               </div>

               <div>
                  {{path}}
               </div>

               <h4>Columns</h4>

               <h4>Conditions</h4>

               <button type="button" class="btn btn-default" ng-click="update()">Update</button>

            </form>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         {{data}}
      </div>
   </div>

</div>
