<div ng-controller="search">
   <div class="row">
      <div class="col-md-12">
         <form class=" form-horizontal"
            ng-submit="search()">
            <div class="form-group col-md-6">
               <div class="input-group">
                  <span class="input-group-addon">
                     <span class="glyphicon glyphicon-search"></span>
                  </span>
                  <input type="search"
                     ng-model="keywords"
                     typeahead-focus-first="false"
                     placeholder="Search"
                     uib-typeahead="name for name in getSearches($viewValue)"
                     typeahead-loading="loading"
                     typeahead-no-results="noResults"
                     class="form-control">
               </div>
            </div>
         </form>
      </div>
   </div>

   <div ng-if="responseData">
      <div class="row">
         <div class="col-md-12">
            <p>
               {{responseData.foods.total + responseData.recipes.total}} results ({{responseTime}} seconds)
            </p>
         </div>
      </div>

      <uib-tabset active="activeJustified"
         justified="true">
         <uib-tab index="0"
            heading="Foods">
            <!-- Food results -->
            <div ng-if="responseData.foods.total > 0">
               <div class="row">
                  <div class="col-md-12">
                     <div class="panel panel-default"
                        cg-busy="searchPromise">
                        <table class="table table-hover table-condensed table-borderless">
                           <thead>
                              <tr>
                                 <th>
                                    #
                                 </th>
                                 <th ng-repeat="(key, value) in responseData.foods.objects[0]"
                                    ng-if="$index > 0">
                                    {{key}}
                                 </th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="row in responseData.foods.objects">
                                 <td class="row-number">
                                    {{$index + 1 + (currentPage - 1) * pageSize}}
                                 </td>
                                 <td ng-repeat="value in row"
                                    ng-if="$index > 0">
                                    {{value}}
                                 </td>
                                 <td>
                                    <button class="btn btn-sm btn-default"
                                       ng-click="onEditFoodClick(row)">
                                       <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>

               </div>

               <div class="row text-center">
                  <uib-pagination ng-change="onPageChanged(currentPage)"
                     total-items="responseData.foods.total"
                     ng-model="currentPage"
                     max-size="5"
                     class="pagination-sm"
                     boundary-link-numbers="true"></uib-pagination>
               </div>
            </div>
         </uib-tab>
         <uib-tab index="1"
            heading="Recipes">

            <!-- Recipe results -->
            <div ng-if="responseData.recipes.total > 0">
               <div class="row">
                  <div class="col-md-12">
                     <div class="panel panel-default"
                        cg-busy="searchPromise">
                        <table class="table table-hover table-condensed table-borderless">
                           <thead>
                              <tr>
                                 <th>
                                    #
                                 </th>
                                 <th ng-repeat="(key, value) in responseData.recipes.objects[0]"
                                    ng-if="$index > 0">
                                    {{key}}
                                 </th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="row in responseData.recipes.objects">
                                 <td class="row-number">
                                    {{$index + 1 + (currentPage - 1) * pageSize}}
                                 </td>
                                 <td ng-repeat="value in row"
                                    ng-if="$index > 0">
                                    {{value}}
                                 </td>
                                 <td>
                                    <button class="btn btn-sm btn-default"
                                       ng-click="onEditRecipeClick(row)">
                                       <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>

               </div>

               <div class="row text-center">
                  <uib-pagination ng-change="onPageChanged(currentPage)"
                     total-items="responseData.recipes.total"
                     ng-model="currentPage"
                     max-size="5"
                     class="pagination-sm"
                     boundary-link-numbers="true"></uib-pagination>
               </div>
            </div>

   </div>

   </uib-tab>
   </uib-tabset>

</div>
