<div ng-controller="search">
	<div class="row">
		<div class="col-md-12">
			<form class=" form-horizontal" ng-submit="search()">
				<div class="form-group col-md-6">
					<div class="input-group">
						<span class="input-group-addon">
                     <span class="glyphicon glyphicon-search"></span>
						</span>
						<input type="search" ng-model="keywords" typeahead-focus-first="false" placeholder="Search"
							uib-typeahead="name for name in getSearches($viewValue)" typeahead-loading="loading"
							typeahead-no-results="noResults" class="form-control">
					</div>
				</div>
			</form>
		</div>
	</div>

	<uib-tabset active="activeJustified" justified="true" style="margin-top:10px">
		<uib-tab ng-repeat="searchNode in searchNodes track by $index" index="$index" heading="{{searchNode.title}}"
			select="selectSearchTab($index)">

			<div class="row" ng-if="response.total > 0">
				<div class="col-md-12">
					<div class="panel panel-default" cg-busy="searchPromise">
						<table class="table table-hover table-condensed table-borderless">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th ng-repeat="(key, value) in response.objects[0]" ng-if="$index > 0">
										{{key}}
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody ng-init="$parentIndex = $index">
								<tr ng-repeat="row in response.objects track by $index">
									<td class="row-number">
										{{$index + 1 + (currentPage - 1) * pageSize}}
									</td>
									<td ng-repeat="value in row" ng-if="$index > 0">
										{{value}}
									</td>
									<td>
										<button class="btn btn-sm btn-default" ng-click="onEditClick(searchNode.name, row)">
                                 <i class="glyphicon glyphicon-edit"></i>
                              </button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row" ng-if="response.total > 0">
				<div class="col-md-12 text-center">
					<uib-pagination ng-change="onPageChanged($index, currentPage)" total-items="response.total"
						ng-model="currentPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>
				</div>
			</div>

		</uib-tab>
	</uib-tabset>

</div>