<div ng-controller="sleep">
   <div class="row" style="margin-bottom:30px">
      <div class="col-md-6">
         <ul class="nav nav-pills">
            <li class="active" ng-click="getSleep()">
               <a href="javascript:void(0)">Get Sleep Time Series</a>
            </li>
         </ul>

         <div class="alert alert-dismissible alert-danger" ng-if="error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong>
            <pre>{{error}}</pre>
         </div>
      </div>
      <div class="col-md-6">
         <!-- parameters -->
         <form class="form-horizontal">
            <h3>Parameters</h3>
            <fieldset>
               <div class="form-group">
                  <label class="control-label">Date
                  </label>
                  <input id="date-picker" ng-model="selectedDate" type="text" class="form-control"/>
               </div>
               <div class="form-group">
                  <label class="control-label">Period
                  </label>
                  <select class="form-control" ng-options="period for period in periods" ng-model="selectedPeriod" ng-change="periodChanged()"></select>
               </div>
               <div class="form-group">
                  <label class="control-label">Resource
                  </label>
                  <select class="form-control" ng-options="res.title for res in sleepResources" ng-model="selectedSleepResource" ng-change="sleepResourceChanged()"></select>
               </div>
            </fieldset>
         </form>
      </div>
   </div>

   <div class="row">
      <!-- results -->
      <div class="panel panel-default">
         <div class="panel-heading">Charts</div>
         <div class="panel-body">
            <div id="sleep-chart"></div>
         </div>
      </div>

      <div class="panel panel-default">
         <div class="panel-heading">JSON Response</div>
         <div class="panel-body">
            <json-formatter json="responseData" open="4"></json-formatter>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   $('#date-picker').datepicker({todayBtn: "linked", orientation: "bottom auto"});
</script>
