<div ng-controller="user">
   <!-- nav -->
   <ul class="nav nav-pills">
      <li class="active" ng-click="getProfile()">
         <a href="javascript:void(0)">Get Profile</a>
      </li>
      <li class="disabled">
         <a href="javascript:void(0)">Update Profile</a>
      </li>
      <li>
         <a href="javascript:void(0)">Get Badges</a>
      </li>
   </ul>

   <!-- parameters -->

   <!-- results -->
   <div class="panel panel-default" ng-if="responseData">
      <div class="panel-heading">Result Table</div>
      <div class="panel-body">
         <table class="table table-condensed">
            <tr ng-repeat="(key, value) in responseData">
               <td>
                  {{key}}
               </td>
               <td ng-switch on="getTypeOf(value)">
                  <table class="table table-condensed" ng-switch-when="object">
                     <tr ng-repeat="(key1, value1) in value">
                        <td>{{key1}}</td>
                        <td>
                           <span ng-class="{string:getTypeOf(value1)=='string',number:getTypeOf(value1)=='number',boolean:getTypeOf(value1)=='boolean'}">
                              {{value1}}
                           </span>
                        </td>
                     </tr>
                  </table>
                  <span ng-switch-default ng-class="{string:getTypeOf(value)=='string',number:getTypeOf(value)=='number',boolean:getTypeOf(value)=='boolean'}">
                     {{value}}
                  </span>
               </td>
            </tr>
         </table>
      </div>
   </div>

   <div class="panel panel-default" ng-if="responseData">
      <div class="panel-heading">JSON Response</div>
      <div class="panel-body">
         <pre pretty-json="responseData"></pre>
      </div>
   </div>
</div>
